<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GOODLOTTERY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>185B89A11C50DD4E00874ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185B89BA1C50DD4F00874ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185B89C51C50DD4F00874ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
